

caption {
    caption-side: bottom;
}

table, tr, td{
    border: 1px solid black;
    border-collapse:collapse ;

}
table {
    margin: 0%  auto;
    margin-top: 1%;
    padding: 20px;
}

.table_head {
    border: solid white;
    border-block: solid black;
    border-top-color:white ;
}
h2 {
    margin-top: 3%;
    text-align: center;
}
td {
    padding: 3px;
    padding-right: 120px;
}

.form_wrap{
    margin: auto;
    width: 25%;
}

.form_block {
    width: 200px;
    background: silver;
    border: 0.5px solid gray;
    margin-bottom: 3%;

}

form {

    margin-left: 20px;
}
form ul{
    list-style-type: none;
}

.form_btn {
    margin: auto;
}
.form_btn input {
    background-color: #a7f0a7;
}











